name: Build ESP32 Marauder (Arduino)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Install Arduino CLI
      uses: arduino/compile-sketches@v1
      with:
        fqbn: esp32:esp32:esp32
        sketch-paths: |
          ./marauder

    - name: Upload firmware
      uses: actions/upload-artifact@v4
      with:
        name: ESP32-MARAUDER-FIRMWARE
        path: |
          **/*.bin
